/* Estilos gerais */
body {
    background-color: #161616;

}

.newRanking {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #083e7c;
    border: none;
    border-radius: 7px;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 50%;
    min-width: 50%;
    display: flex;
    justify-content: center;
}

.rankings {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.rankingTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
}

.rankingDescription{
    text-align: center;
    color: #fff
}

.picture {
    width: 120px;
    margin-bottom: 5px;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
}

.viewingRanking{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemContainer, .searchItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 250px;
    max-width: 250px;
    gap: 1rem;
    border: 1px solid #f7f8ed;
    margin: 10px 0 8px 0;
    padding: 5px 5px 0 5px;
    border-radius: 8px;
    background-color: #f7f8ed;
}

.itemContent{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.itemInformations {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

.position{
    font-weight: bold;
    margin-right: 5px;
    color:#f7f8ed
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.itemRating {
    color: rgb(1, 114, 1);
    font-weight: bold;
}

/* Estilos do Modal */
.modalStyle {
    width: 90%;         /* Modal ocupa 90% da largura */
    max-width: 600px;   /* Largura máxima do modal */
    margin: auto;       /* Centraliza o modal na tela */
    padding: 20px;
    background-color: #161616;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 80vh;  /* Limita a altura máxima do modal */
    overflow-y: auto;  /* Adiciona a rolagem no conteúdo */
}

.ItemInfoModal{
    margin-top: 50vw;
    width: 85%;         /* Modal ocupa 90% da largura */
    max-width: 600px;   /* Largura máxima do modal */
    padding: 20px;
    margin-left: 2.5%;
    background-color: #161616;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 80vh;  /* Limita a altura máxima do modal */
    overflow-y: auto;  /* Adiciona a rolagem no conteúdo */
}

.infoModalContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 10px;
}

label, .infoModalContent {
    width: 100px; /* <- Define uma largura fixa para os labels */
    font-weight: 5050;
    margin-right: 10px;
    margin-top: 5px;
    color: #fff;
}


input {
  flex: 1; /* <- O input ocupa o espaço restante */
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #999999;
    margin-bottom: 5px;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Foco no Input */
input:focus {
    outline: none;
    border-color: #083e7c;
    background-color: #999999; 
    box-shadow: 0 0 5px rgba(8, 62, 124, 0.5);
}


.newItemBtn{
    margin: 20px auto;           /* Centraliza o botão horizontalmente */
    padding: 10px 20px;          /* Tamanho interno do botão */
    font-size: 16px;
    background-color: #083e7c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: block;              /* Necessário para o margin: auto funcionar */
    text-align: center;
}

/* Responsividade: Mobile-First */
@media (max-width: 310px) {
    .modalStyle {
        width: 95%; /* Modal ocupa 95% da largura em telas muito pequenas */
    }

    .modalContent {
        padding: 10px;
    }

    .picture {
        width: 100px;
    }

    .itemInformations {
        text-align: left;
    }
}

@media (min-width: 310px) and (max-width: 600px) {
    .modalStyle {
        width: 85%;  /* Modal ocupa 85% da largura em dispositivos de tamanho médio */
    }

    .picture {
        width: 120px;
    }
}

@media (min-width: 600px) {
    .modalStyle {
        width: 60%;   /* Modal ocupa 60% da largura em dispositivos maiores */
    }

    .picture {
        width: 150px;
    }
}
